@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About";
}

<hgroup class="title">
</hgroup>

<article>
    <h2>Canciones favoritas de Fabiana</h2>
    <ul>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/CEb99v79yRM?si=JBMINq1taKsgWCb6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/OCT1qy8wf2s?si=avEBSixfG_pANGjr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/uH64qV71uUQ?si=-P2Vp3PeDdbFxqTs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </ul>
    <h2>Canciones favoritas de Sebastián</h2>
    <ul>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/b393RtiIA18?si=Fu-rMr_lZLwWZiW2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/mNEUkkoUoIA?si=EmFHmq-lenyZ9VGM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Aco1BiMF5t8?si=UY_msTiyfXlqGvVt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </ul>
    <h2>Canciones favoritas de José Pablo</h2>
    <ul>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/q7F83UQXf-Q?si=ayCiKRA5EGlgOP80" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/dsUXAEzaC3Q?si=IeRBKTB5tddz-EQI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/e-fA-gBCkj0?si=lJHOxaSfKBTON3RK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </ul>
    <ul>
        <li><a href="~/">Series</a></li>
        <li><a href="~/About">Hobbies</a></li>
        <li><a href="~/Contact">Música</a></li>
    </ul>
    </aside>
