@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About";
}

<hgroup class="title">
</hgroup>

<article>
    <h2>Series favoritas de Fabiana</h2>
    <ul>
        <li><a href="https://www.imdb.com/title/tt7366338/?ref_=chttvtp_t_5" target="_blank">Chernobyl</a></li>
        <li><a href="https://www.imdb.com/title/tt0386676/?ref_=chttvtp_t_25" target="_blank">The Office</a></li>
        <li><a href="https://www.imdb.com/title/tt0141842/?ref_=chttvtp_t_9" target="_blank">The Sopranos</a></li>
    </ul>
    <h2>Series favoritas de Sebastián</h2>
    <ul>
        <li><a href="https://www.imdb.com/title/tt0903747/?ref_=hm_tpks_tt_t_1_pd_tp1_pbr_ic" target="_blank">Breaking Bad</a></li>
        <li><a href="https://www.imdb.com/title/tt2306299/?ref_=nv_sr_srsg_0_tt_7_nm_1_in_0_q_vikingos" target="_blank">Vikingos</a></li>
        <li><a href="https://www.imdb.com/title/tt2442560/?ref_=nv_sr_srsg_0_tt_8_nm_0_in_0_q_peaky" target="_blank">Peaky Blinders</a></li>
    </ul>
    <h2>Series favoritas de José Pablo</h2>
    <ul>
        <li><a href="https://www.imdb.com/title/tt0903747/?ref_=hm_tpks_tt_t_1_pd_tp1_pbr_ic" target="_blank">Breaking Bad</a></li>
        <li><a href="https://www.imdb.com/title/tt2861424/?ref_=chttvtp_t_17" target="_blank">Rick y Morty</a></li>
        <li><a href="https://www.imdb.com/title/tt0103359/?ref_=chttvtp_t_24" target="_blank">Batman: La serie animada</a></li>
    </ul>
   
