@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About";
}

<hgroup class="title">

</hgroup>

<article>
    <h2>Hobbies de Fabiana</h2>
    <h2>Ver películas</h2>
    <h3>Géneros favoritos:</h3>
    <ul>
        <li>Ciencia ficción.</li>
        <li>Thriller.</li>
        <li>Drama.</li>
    </ul>
    <h2>Escuchar podcasts</h2>
    <h3>Podcasts favoritos:</h3>
    <ul>
        <li>Caso 63.</li>
        <li>Leyendas Legendarias.</li>
    </ul>
    <h2>Ver deportes</h2>
    <h3>Deportes favoritos:</h3>
    <ul>
        <li>Fútbol.</li>
        <li>Tenis.</li>
    </ul>

    <h2>Canciones favoritas</h2>

</article>

<article>
    <h2>Hobbies de Sebastián</h2>
    <h2>Deportes</h2>
    <h3>Deporte favorito:</h3>
    <ul>
        <li>Natación.</li>
        <li>Fútbol.</li>
    </ul>
    <h2>Viajar</h2>
    <h3>Países favoritos:</h3>
    <ul>
        <li>Islandia.</li>
        <li>Corea del Sur.</li>
        <li>Estados Unidos.</li>
    </ul>
    <h2>Ver películas</h2>
    <h3>Géneros favoritos:</h3>
    <ul>
        <li>Comedia.</li>
        <li>Thriller.</li>
        <li>Románticas.</li>
    </ul>
</article>

<article>
    <h2>Hobbies de José Pablo</h2>
    <h2>Lectura</h2>
    <h3>Libros favoritos:</h3>
    <ul>
        <li>Hábitos Átomicos</li>
        <li>El hombre más rico de Babilonia.</li>
    </ul>
    <h2>Hacer ejercicio</h2>

    <h2>Escuchar música</h2>
    <h3>Géneros favoritos:</h3>
    <ul>
        <li>Pop.</li>
        <li>Trap.</li>
    </ul>
</article>


<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li><a href="~/">Series</a></li>
        <li><a href="~/About">Hobbies</a></li>
        <li><a href="~/Contact">Música</a></li>
    </ul>
</aside>